// Accordions
.accordion {
  border: $border;
  padding: 1rem;
  margin-top: 1rem;
}

.accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  :nth-child(2) {
    text-align: right;
  }
}

.dropdown {
  display: flex;
  gap: 1rem;
  align-items: center;

  .dropdown-arrow {
    margin-right: 0;
    width: 1rem;
    height: 1.5rem;
    display: block;
  }
}

.accordion-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 2rem;
  max-width: 30rem;

  label {
    display: grid;
    width: max-content;
    gap: 0.5rem;

    input {
      background-color: $black;
      border: $border;
      color: $white;
      padding: 0.5rem;

      path {
        color: $white;
      }
    }
    ::-webkit-calendar-picker-indicator {
      background-color: $white;
      padding: 0.25rem;
      cursor: pointer;
      border-radius: 3px;
    }

    input::placeholder {
      color: $grey;
    }
  }
}

.accordion__button:hover {
  cursor: pointer;
}
