// BUTTONS
.primary {
  border: $border;
  background-color: $black;
  padding: 0.5rem;
  padding-inline: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  color: $white;
  border-color: $white;
  overflow: hidden;

  width: fit-content;
  height: 2.8rem;
}

.secondary {
  border: $border;
  background-color: $black;
  padding: 0.5rem;
  padding-inline: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  color: $grey;
  border-color: $grey;
}

.booking-steps-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: flex-end;
}

// button hover effects

.primary:hover {
  border-color: $orange;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.primary::after {
  content: "";
  display: block;
  position: relative;
  width: 150%;
  height: 1rem;
  background-color: $white;
  top: -500%;
  left: -80%;
  rotate: -45deg;
}

.primary:hover::after {
  transition: all 0.8s;
  transform: translate(0, 2000%);
}

.secondary:hover {
  border-color: $orange;
  color: $white;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
